#blueimp-gallery.blueimp-gallery{'data-use-bootstrap-modal':'false'}
  -# The container for the modal slides
  .slides

  -# Controls for the borderless lightbox
  %a.close ×
  %ol.indicator

  -# The modal dialog, which will be used to wrap the lightbox content
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{'aria-hidden':'true', type:'button'} ×
          %h4.modal-title
        .modal-body.next
        .modal-footer
