%script{:type=>"text/javascript"}
  -#Openpay Varialbles
  var openpay_merchant_id = "#{ENV['OPENPAY_MERCHANT_ID']}";
  var openpay_public_key = "#{ENV['OPENPAY_PUBLIC_KEY']}";
  var openpay_production = "#{ENV['OPENPAY_PRODUCTION']}";

= javascript_include_tag "admin/plugins/openpay/openpay"