.m-block--white{:style => "margin: 21px 0;"}
  .m-block--white__header
    %img.img-badge{:alt => "badge", :src => "/assets/default/img/badge.png"}
    .m-block--white__title Garantías Bolettos
  .m-block--white__content
    .m-block--white__item Boletos originales o te reembolsamos el total de tu compra
    .m-block--white__item Entregamos en tu casa u oficina a tiempo para el evento
    .m-block--white__item Paga de forma fácil y completamente segura
  .m-block--white__imgFooter
    -#%img{:alt => "", :src => "/assets/default/img/verisign.png"} 
