<div class='row'>
  <div class='col-lg-12'>
    <h1 class='page-header'>
    </h1>
    <ol class='breadcrumb'>
      <li>
        <a href='/'>Inicio</a>
      </li>
      <li class='active'>Prueba</li>
    </ol>
  </div>
</div>
<hr>
<div class='row text-center'>
  <div class='col-lg-12'>
  </div>
</div>
<hr>
<div class='well'>
  <div class='row'>
    <div class='col-md-8'>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class='col-md-4'>
      <a class='btn btn-lg btn-default btn-block' href='http://www.google.com'>Buscar en Google</a>
    </div>
  </div>
</div>
<hr>