.modal.fade#setElementsModal
  .modal-dialog
    .modal-content
      .modal-header
        %button{type:'button', class:'close', 'data-dismiss':'modal'}
          &times;
        %h4.modal-title 
          No Hay Elementos Disponibles
      .modal-body
        La opción que eligio no contiene elementos. Porfavor creerlos e intente de nuevo.
      .modal-footer
        %button{type:'button', class:"btn btn-default", 'data-dismiss':'modal'}
          Cerrar